<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>navbar</title>
  <meta http-equiv="Content-Type" content="text/html ; charset=UTF-8" />
  <style>
    a {
      color: rgba(0, 124, 196, 1);
      text-decoration: none;
      margin-right: 30px;
    }
  </style>
</head>
<body>
<div>
  <a href="http://localhost:9090/h2-console">H2 Console</a>
  <a href="http://localhost:9090/greeting">Greeting</a>
  <a href="http://localhost:9090/adresses">Adresses</a>
  <a href="http://localhost:9090/adresse">Adresse</a>
</div>
</body>
</html>